[buildout]
extends = versions.cfg
parts = pyramid

versions = versions
#allow-picked-versions = false
show-picked-versions = true

[pyramid]
recipe = zc.recipe.egg
eggs = pyramid
dependent-scripts = true
interpreter = py
